

<div class="fluid-container m-3">


<h1>Hijri And Gerg Date Converter</h1>

<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col-lg-4 col-md-12 col-sm-12">
      <app-greg-date-picker
        [required]="true"
        [placeholder]="'Gregorian Date'"
        [control]="userForm.controls['gregorianDate']"
        [label]="'Gregorian Date'"
        (dateChange)="onGregorianDateChange($event)"></app-greg-date-picker>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12">
      <app-hijri-date-picker
        [required]="true"
        [control]="userForm.controls['hijriDate']"
        [placeholder]="'Hijri Date'"
        [label]="'Hijri Date'"
        (dateChange)="onHijriDateChange($event)"></app-hijri-date-picker>
    </div>
  </div>

  <div class="text-cnter" style="text-align: left; margin: 20px">
    <button type="submit" class="btn btn-primary" [disabled]="userForm.invalid">
      Submit
    </button>
  </div>
</form>
</div>
