<form class="row row-cols-sm-auto">
    <span> {{ label | translate }} </span>
  <div class="input-group">
    <input
      [id]="'hijriDate_'+placeholder"
      [name]="'hijriDate_'+placeholder"
      class="form-control"
      [placeholder]="placeholder"
      name="dp"
      [formControl]="control"
      ngbDatepicker
      #dp="ngbDatepicker"
      container="body"
      (dateSelect)="onDateChange()"
      [firstDayOfWeek]="7"
      [minDate]="minDate"
      [maxDate]="maxDate" />
    <div class="input-group-append">
      <button
        class="btn btn-outline-secondary"
        (click)="dp.toggle()"
        type="button">
        <i class="fa fa-calendar"></i>
      </button>
    </div>
  </div>
  <div
    class="text-danger"
    *ngIf="control.invalid && (control.dirty || control.touched)">
    <small *ngIf="control.errors?.['required']">
      {{ 'This field is required' | translate }}
    </small>
  </div>
</form>
